*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    background: #cdd6df;
}

.audio-box{
    width: 350px;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background: white;
    box-shadow: 0 4px 4px rgba(0,0,0,.2);
    padding: 50px 30px;
}
.audio-img{
    object-fit: cover;
    box-shadow: 0 10px 20px rgba(0,0,0,.3);
}
.play-pause{
    position: relative;
    background: #4a4951;
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.play-pause::after,.play-pause::before{
    content: '';
    position: absolute;
    width: 5px;
    height: 20px;
    background: white;
    top:50%;
    transform:translateY(-50%);
    /* transition: all 0.3s; */
}
.play-pause::after{
    left:35%;
}
.play-pause::before{
    right:35%;
}

.change-to-pause::after{
    left: 50%;
    width: 15px;
    transform: translate(-30%,-50%);
    clip-path: polygon(100% 50%, 0 0, 0 100%);
}
.change-to-pause::before{
 display: none;
}
.control-btns{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap:30px;
}
.control-btns  i{
    cursor: pointer;
    font-size: 16px;
    color: #4a4951;
}
.audio-title{
    font-size: 22px;
    letter-spacing: 1.2px;
    text-align: center;
    color: #4a4951;
}